Remote_Pihis/ws_test_20150310/ws_test/Service References/cems/cems1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPiRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ts" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pv" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="mi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPiRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPiRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRuleLogRd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ts" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRuleLogRdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRuleLogRdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePiRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ts" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pv" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="mi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePiRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePiRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRuleLogRd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ts" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRuleLogRdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRuleLogRdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddPiRecordSoapIn">
    <wsdl:part name="parameters" element="tns:AddPiRecord" />
  </wsdl:message>
  <wsdl:message name="AddPiRecordSoapOut">
    <wsdl:part name="parameters" element="tns:AddPiRecordResponse" />
  </wsdl:message>
  <wsdl:message name="AddRuleLogRdSoapIn">
    <wsdl:part name="parameters" element="tns:AddRuleLogRd" />
  </wsdl:message>
  <wsdl:message name="AddRuleLogRdSoapOut">
    <wsdl:part name="parameters" element="tns:AddRuleLogRdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePiRecordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePiRecord" />
  </wsdl:message>
  <wsdl:message name="UpdatePiRecordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePiRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRuleLogRdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRuleLogRd" />
  </wsdl:message>
  <wsdl:message name="UpdateRuleLogRdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRuleLogRdResponse" />
  </wsdl:message>
  <wsdl:portType name="cemsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPiRecord">
      <wsdl:input message="tns:AddPiRecordSoapIn" />
      <wsdl:output message="tns:AddPiRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRuleLogRd">
      <wsdl:input message="tns:AddRuleLogRdSoapIn" />
      <wsdl:output message="tns:AddRuleLogRdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePiRecord">
      <wsdl:input message="tns:UpdatePiRecordSoapIn" />
      <wsdl:output message="tns:UpdatePiRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRuleLogRd">
      <wsdl:input message="tns:UpdateRuleLogRdSoapIn" />
      <wsdl:output message="tns:UpdateRuleLogRdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cemsSoap" type="tns:cemsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPiRecord">
      <soap:operation soapAction="http://tempuri.org/AddPiRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRuleLogRd">
      <soap:operation soapAction="http://tempuri.org/AddRuleLogRd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePiRecord">
      <soap:operation soapAction="http://tempuri.org/UpdatePiRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRuleLogRd">
      <soap:operation soapAction="http://tempuri.org/UpdateRuleLogRd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cemsSoap12" type="tns:cemsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPiRecord">
      <soap12:operation soapAction="http://tempuri.org/AddPiRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRuleLogRd">
      <soap12:operation soapAction="http://tempuri.org/AddRuleLogRd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePiRecord">
      <soap12:operation soapAction="http://tempuri.org/UpdatePiRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRuleLogRd">
      <soap12:operation soapAction="http://tempuri.org/UpdateRuleLogRd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cems">
    <wsdl:port name="cemsSoap" binding="tns:cemsSoap">
      <soap:address location="http://localhost:8008/cemsws/cems.asmx" />
    </wsdl:port>
    <wsdl:port name="cemsSoap12" binding="tns:cemsSoap12">
      <soap12:address location="http://localhost:8008/cemsws/cems.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>